header {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}
